header li {
  font-size: 12px; /* Puedes ajustar este valor según lo necesites */
}

.errorpage {
  background-color: rgb(105, 105, 217);
  text-align: center;
}

.imgError {
  border-radius: 10%;
}

.carrousel-container {
  justify-content: end;
  background-color: rgba(14, 9, 9, 0.646);
}

.sombreado-carrousel {
  background-color: rgb(20, 17, 17);
  opacity: 78%;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.text-cards {
  font-size: 10px;
}

.enviarForm{
  background-color: #96c93e !important;
  width: 100%;
  border-color:  #96c93e !important;
}